In [1]:
import pandas as pd
import numpy as np

In [16]:
export = pd.read_excel('exportacao.xlsx')
 = pd.read_excel('consumo_energia_industrial.xlsx')
df3 = pd.read_excel('indice_comm_energia.xlsx')
df4 = pd.read_excel('indice_industria_transf.xlsx')

c:\Users\Rodrigo\anaconda3\lib\site-packages\openpyxl\reader\workbook.py:88: UserWarning: File contains an invalid specification for indice_ind_transf. This will be removed
  warn(msg)

ValueError: Worksheet index 0 is invalid, 0 worksheets found

In [15]:
df1

     Ano  Valor FOB (US$)
0   2023     136059287862
1   2022     334136038220
2   2021     280814577460
3   2020     209180241655
4   2019     221126807647
5   2018     231889523399
6   2017     214988108353
7   2016     179526129214
8   2015     186782355063
9   2014     220923236838
10  2013     232544255606
11  2012     239952538158
12  2011     253666309507
13  2010     200434134826
14  2009     151791674186
15  2008     195764624177
16  2007     159816383833
17  2006     137581151209
18  2005     118597835407
19  2004      95121672369
20  2003      72776746690
21  2002      60147158103
22  2001      58032294243
23  2000      54993159648
24  1999      47945909310
25  1998      51076603549
26  1997      52947495532